.error{
    color: red;
}
.active{
	background-color: #0c0c97;
	color: white;
}
.active:hover{
	color: white;
}
header ul li a:hover{
	background-color: #5d5dca;
	color: white!important;
}

.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}